*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width:100%;
    height:100vh;
    overflow: hidden;
    position: relative;
}
.slider{
    height:100vh;
    width:400%;
    display: flex;
    transition:0.8s;
}
img{
    height:100vh;
    width:100%;
}
.bubble_img_Container{
    position: absolute;
    bottom :10px;
    left:50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.bubble{
    width:30px;
    height:30px;
    margin-left:20px;
}
.bubble img{
    width:30px;
    height:30px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    transition:.2s all;
}

